<div class="row" id="fila">
    <div class="col-lg-2 father card" routerLink="/mapa">
      <div class="my-img"></div>
      <p class="legenda">Mapa</p>
    </div>
    <div class="col-lg-2 father card" routerLink="/registros">
        <div class="my-img"></div>
        <p class="legenda">Tabla</p>
    </div>
    <div class="col-lg-2 father">
      <div class="my-img"></div>
    </div>
    <div class="col-lg-2 father">
        <div class="my-img"></div>
    </div>
    <div class="col-lg-2 father">
        <div class="my-img"></div>
    </div>
  </div>